<html>
<head>
  <% include ../partials/head.ejs %>
</head>
<body> <!--ng-controller="uploads"-->
  <form  action='/uploads' method="post" enctype="multipart/form-data" >
          <input type='file' name='file' />
          <input type='submit' />
  </form>
  <!--
  <div ng-repeat="image in imageList">
      <img ng-src="{{image.filePath}}" width="50" height="50" />
  </div>  -->
</body>
</html>
